@model ToDoList.Models.TaskItem

@{
    ViewData["Title"] = "Index";
}

<div id="myDIV" class="header">
    <h2>What plans?</h2>
    <form asp-action="CreateTask">
        <input asp-for="Description" type="text" id="myInput" placeholder="Title..." />
        <input type="submit" value="Add" class="addBtn"></input>
    </form>
    <form asp-action="DeleteAll">
        <button type="submit" class="btn btn btn-outline-dark mt-2">Clear</button>
    </form>
</div>
<div id="listDiv"></div>



@section Scripts{
    <script src="~/Custom scripts/BuildList.js"></script>
    <script src="~/custom scripts/signalr/dist/browser/signalr.js"></script>
    <script src="~/custom scripts/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/site.js"></script>
    <script>
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/toDoListHub")
            .build();

        connection.on("ListOfToDosHasChanged", function () {
            $(document).ready(function () {

                $.ajax({
                    url: '/Tasks/BuildListOfToDos',
                    success: function (result) {
                        $('#listDiv').html(result);
                    }
                });
            });
        });
        connection.start().then(() => {
            console.log(hubConnection.connectionId);
        });
    </script>
}

